ul {
	line-height:25px;
}
div ol li{
  line-height:38px;
	font-family: Cambria;
}
.achievement_photos_center{
  height:270px;
  width:355px;
  margin-left: 35%;
}
.achievement_photos_center2{
  height:270px;
  width:355px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.achievement_signals{
  height:150px;
  width:150px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.ach_photo_center{
  text-align: center;
}
.achievement_photos_right{
  height:270px;
  width:355px;
  float: right;
}
.achievement_photos_left{
  height:270px;
  width:355px;
  float: left;
  margin-left: 40px;
}
.profile_div{
  display:inline-block;
  text-align: justify;
}
.profile_photos_1{
  height:200px;
  width:180px;
  vertical-align:top;
  float:left;
  margin-right: 15px;
  margin-bottom: 5px;
}
.profile_photos_2{
  height:230px;
  width:180px;
  float:left;
  vertical-align: ;
  margin-right: 15px;
  margin-bottom: 10px;
}
.right_photos{
  height:200px;
  width:180px;
  vertical-align:top;
  float: right;
  margin-left: 25px;
  margin-right: 30px;
}
.left_photos{
  height:200px;
  width:180px;
  vertical-align:top;
  float:left;
  margin-left: 30px;
  margin-right: 25px;
}
.foooter{
	margin: 15px 50px;
  padding: 5px;
	background: #FFF;
	text-align: center;
  font-size: 20px;
}
.footer_photo{
  display:block;
  margin:auto;
  margin-bottom: 35px;
}
.articles{
  font-size: 17px;
	line-height:28px;
  text-align: justify;
  font-family: Cambria;
  margin-left: 30px;
  margin-right: 20px;
}
.articles li{
  font-size: 17px;
	font-family: Cambria;
}
h3{
	text-align: center;
	font-size: 40px;
	text-decoration:underline;
  color: #C8955B;
}
h4{
  font-size: 22px;
	line-height:30px;
  margin-left: 35px;
  font-family: Cambria;
}
h5{
	font-size: 19px;
}

/* Style of orderer list*/
        ol {
            counter-reset: item;
        }

            ol li {
                font: 14px/21px Arial, Verdana;
                list-style: none;
                *list-style: decimal; /* IE7 e IE6*/
                padding: 4px 8px;
            }

                ol li:before {
                    display: inline-block;
                    content: counter(item) "- ";
                    counter-increment: item;
                    background-color: #323232;
                    color: #fbfbfb;
                    font: bold 16px Arial, Verdana;
                    padding: 0 4px;
                    margin: 0 4px;
                }

                ol li ol li:before {
                    font: bold 14px Arial, Verdana;
                    padding: 0 2px;
                }

/* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #bbbbbb;
            margin:0px 50px;
            text-align: center;
						
        }
/* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: center;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }
/* Change background color of buttons on hover (boton sobre el que esta el cursor)*/
                .tab button:hover {
                    background-color: #F1DE9A;
                }
/* Create an active/current tablink class (boton seleccionado)*/
                .tab button.active {
                    background-color: #C8955B;
                }


/* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 30px;
            border: 1px solid #ccc;
            border-top: none;
						margin:0px 50px;
						color:#fff;
        }


/* Style the tab links */
        .tablinks{
          margin:0px 50px;
        }


/* Style the logo */
#main-header .logo{
        text-align: center;
        vertical-align: middle;
        top: 0;
        }
        
/* Style of header*/
  #main-header{
    width: 100%; 
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    z-index:99;
    background: #191818;
  }
  /* Style of body*/
  body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #191818;
    font-family: Cambria;
    padding-top: 190px;
  }